{
    "secret" : "Change this text for security purposes", <%# Really! Do it! %>
    "db" : [
        "dbi:SQLite:/home/und3f/projects/accounticious/database.db",
%#      username
        null,

%#      password
        null
    ]
}
